a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}




.social ul {
  text-align: center
}
  .social ul li {
    display: inline-block;
    margin: 1.4rem 1rem 0 0;
  }
    .social ul li a {
      display: block;
      position: relative;
      width: 3.6rem;
      height: 3.6rem;
    }
      .social ul li a .circle {
        height: 100%
      }
        .social ul li a .circle svg {
          stroke: #888;
          fill: transparent;
          width: 100%;
          height: 100%;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
        }
      .social ul li a .icon {
        text-align: left
      }
        .social ul li a .icon svg {
          position: absolute;
          fill: #888;
          width: 100%;
          height: 100%;
          -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
          .social ul li.facebook a .icon svg {
            height: 50%;
            margin: 25% 0 0 -1%;
          }
          .social ul li.twitter a .icon svg {
            height: 42%;
            margin: 29% 0 0 2%;
          }
          .social ul li.linkedin a .icon svg {
            height: 44%;
            margin: 28% 0 0 1%;
          }
          .social ul li.youtube a .icon svg {
            height: 36%;
            margin: 32% 0 0 0;
          }
          .social ul li.pinterest a .icon svg {
            height: 50%;
            margin: 25% 0 0 -1%;
          }
          .social ul li.instagram a .icon svg {
            height: 50%;
            margin: 25% 0 0 -2%;
          }
          .social ul li.googleplus a .icon svg {
            height: 46%;
            margin: 27% 0 0 2%;
          }
    .social ul li a:hover {
      cursor: pointer
    }
      .social ul li a:hover .circle svg {
        -webkit-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
        -moz-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
        -ms-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
        -o-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
        transform: scale(1.3) rotateX(180deg) rotateY(180deg);
      }
        .social ul li.facebook a:hover .circle svg {
          stroke: #3b5998;
        }
        .social ul li.twitter a:hover .circle svg {
          stroke: #55acee;
        }
        .social ul li.linkedin a:hover .circle svg {
          stroke: #0077b5;
        }
        .social ul li.youtube a:hover .circle svg {
          stroke: #cd201f;
        }
        .social ul li.pinterest a:hover .circle svg {
          stroke: #cc2127;
        }
        .social ul li.instagram a:hover .circle svg {
          stroke: #3f729b;
        }
        .social ul li.googleplus a:hover .circle svg {
          stroke: #dd4b39;
        }
      .social ul li a:hover .icon svg {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
      }
        .social ul li.facebook a:hover .icon svg {
          fill: #3b5998;
        }
        .social ul li.twitter a:hover .icon svg {
          fill: #55acee;
        }
        .social ul li.linkedin a:hover .icon svg {
          fill: #0077b5;
        }
        .social ul li.youtube a:hover .icon svg {
          fill: #cd201f;
        }
        .social ul li.pinterest a:hover .icon svg {
          fill: #cc2127;
        }
        .social ul li.instagram a:hover .icon svg {
          fill: #3f729b;
        }
        .social ul li.googleplus a:hover .icon svg {
          fill: #dd4b39;
        }

